@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.button-overrides(
    (
      filled-container-shape: '6px',
      outlined-container-shape: '6px',
      filled-container-color: #943bf3,
    )
  );
  @include mat.badge-overrides(
    (
      background-color: blue,
    )
  );
}

.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.snack-error {
  @include mat.snack-bar-overrides(
    (
      button-color: white,
      container-color: red,
      supporting-text-color: white,
    )
  );
}

.snack-success {
  @include mat.snack-bar-overrides(
    (
      button-color: white,
      container-color: green,
      supporting-text-color: white,
    )
  );
}
