@import 'tailwindcss' important;

.container {
  @apply mx-auto max-w-screen-2xl;
}

.text-primary {
  @apply text-blue-700;
}

/* Return the cursor behavior from default to cursor in angular materials */
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
