<mat-form-field appearance="outline" class="w-full mb-4">
  <mat-label>{{ label }}</mat-label>
  <!-- The formControlName is required so Angular will keep tracking what is inside this input -->
  <input [formControl]="control" type="{{ type }}" placeholder="{{ label }}" matInput />
  @if (control.hasError('required')) {
  <mat-error>{{ label }} is required</mat-error>
  } @if (control.hasError('email')) {
  <mat-error>Email is invalid</mat-error>
  } @if (control.hasError('pattern')) {
  <mat-error>Password is invalid</mat-error>
  }
</mat-form-field>
